<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Error-404</title>
</head>
<body>
    <div class="container">
        <span class="big-text">4</span>
        <span class="big-text">0</span>
        <span class="big-text">4</span>
        <p class="helper-text">&twoheadleftarrow; Oops! Nothing here to show &twoheadrightarrow; </p>
    </div>
</body>
</html>