<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <title>Star Wars API</title>
</head>
<body>
    <div class="container">
        <nav class="navbar sticky-top navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1" style="font-size: 40px; text-transform: uppercase; color: yellow; font-weight: bold;">Star Wars</span>
            <ul class ="nav nav-pills justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Documentation">Documentation</a>
            </li>
        </ul>
    </nav>
    </div>
    <main>
        <div class="container text-center" style="padding: 50px;">
            <h1 class="display-1">Welcome to star wars API</h1>
            <p class="lead text-primary display-4">This is a simple API that give you data about Star Wars and it's characters, species, vehicles etc in the JSON format.</p>
        </div>
        <section id="Documentation" class="Documentation">
            <div class="section-heading text-center">
                <h2 class="text-muted">Documentation</h2>
            </div>
            <div class="container text-center">
                <h1 class="display-4">API :- <a href="https://starwarsin.herokuapp.com/" style="color: violet;">https://demo.com/search/?key=all</a></h1>
                <p class="text-primary"><span style="color: red;">GET</span> /?key = vehicles</p>
            </div>
        </section>
    </main>
</body>
</html>