<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <title>Star Wars API</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar sticky-top navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1" style="font-size: 40px; text-transform: uppercase; color: yellow; font-weight: bold;">Star Wars</span>
            <ul class ="nav nav-pills justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/a12baghel2/STAR_WARS_info/blob/master/README.md">Documentation</a>
            </li>
        </ul>
    </nav>
    </div>
    <main>
        <section id="Home" class="Home">
            <div class="container-fluid text-center" style="padding: 50px;">
                <h1 class="display-1">Welcome to star wars API</h1>
                <p class="lead text-primary display-4">This is a simple API that give you data about Star Wars and it's characters, species, vehicles etc in the JSON format.</p>
                <p class="lead text-primary display-4">Go to the documentation for usage of this API</p>
            </div>
        </section>
    </main>
    <footer style="height: 200px; background-color: black;">
        <div class="container-fluid text-center">
            <h3 class="display-5" style="padding-top: 50px;">Made with <span style="color: red;">&hearts;</span> by Abhimanyu</h3>
        </div>
    </footer>
</body>
</html>